<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recuperar">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="SQLITE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recuperar">
        <activity
            android:name=".AllInfoRecycler"
            android:label="title_activity_all_info_recycler"
            android:theme="@style/Theme.Recuperar.NoActionBar" />
        <activity
            android:name=".WindowsPreferences"
            android:label="preferences"
            android:theme="@style/Theme.Recuperar.NoActionBar" />
        <activity
            android:name=".Login"
            android:label="App"
            android:theme="@style/Theme.Recuperar.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>